---
import HomeLayout from "@layouts/HomeLayout.astro";
import { keystatic } from "@lib/keystatic/client";
import invariant from "tiny-invariant";

const i18n = await keystatic.singletons.homepage.read({
  resolveLinkedFiles: true,
});
invariant(i18n, "No homepage content found");
---

<HomeLayout
  title={i18n.openGraph.title}
  type={i18n.openGraph.type}
  imageUrl={i18n.openGraph.image}
  description={i18n.openGraph.description}
  publishedTime={i18n.openGraph.publishedTime}
  modifiedTime={i18n.openGraph.modifiedTime}
  author={i18n.openGraph.author}
  primaryCategory={i18n.openGraph.primaryCategory}
>
  <div class="flex flex-col md:flex-row gap-16 w-full max-w-4xl">
    <section class="flex-1">
      <h2 class="text-2xl font-semibold mb-4 border-l-4 border-brand-500 pl-4">
        {i18n.waitlist.label}
      </h2>
      <p class="mb-4 text-btcgray-600">
        {i18n.waitlist.description}
      </p>
      <form class="flex flex-col">
        <input
          type="email"
          placeholder={i18n.waitlist.inputPlaceholder}
          class="border border-btcgray-300 p-3 rounded mb-4 focus:ring-2 focus:ring-brand-500 outline-none"
        />
        <button
          type="submit"
          class="bg-btcgray-800 text-white p-3 rounded hover:bg-btcgray-700"
        >
          {i18n.waitlist.buttonText}
        </button>
      </form>
      <p class="mt-2 text-sm text-btcgray-600">
        &rarr; 1,070 {i18n.waitlist.numberSuffix}
      </p>
    </section>

    <section class="flex-1">
      <h2 class="text-2xl font-semibold mb-4 border-l-4 border-brand-500 pl-4">
        {i18n.roadmap.label}
      </h2>
      <ul class="space-y-4 w-full">
        {
          i18n.roadmap.items.map((item) => (
            <li class="flex items-start">
              <span
                class={`rounded-full w-3 h-3 mr-3 mt-1.5 ${
                  item.status === "in progress"
                    ? "bg-brand-500"
                    : "bg-btcgray-400"
                }`}
              />
              <div class="w-[93%]">
                <h3 class="font-semibold">{item.label}</h3>
                <p class="text-sm text-btcgray-600">{item.description}</p>
                <span class="text-xs text-btcgray-400">{item.status}</span>
              </div>
            </li>
          ))
        }
      </ul>
    </section>
  </div>
</HomeLayout>
